<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>智能语音应答</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link href="{% static 'css/uniform.default.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/login-soft.css' %}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static 'mains/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'mains/css/index_main.css' %}"/>
    <link rel="stylesheet" href="{% static 'mains/css/calendar.css' %}" media="screen"/> 
	<style type="text/css">
    body{
        position: relative;
    }
	#inform{
          position: absolute;
		  top: 160px;
		  left: 20px;
		  width: 200px;
		  max-height: 250px;           /* 设置最大高度，当高度达到此值时出现滚动条 */
		  z-index: 9000;
		  background-color: #E0E5E5; 
		  overflow: auto;              /* 自动添加滚动条 */
		  box-shadow:0px 0px 10px #000;   /* 外阴影 */
		  display: none;   /* 默认隐藏 */
	}
	#informTable{
		table-layout:fixed;         /* 用于实现表格td自动换行的部分代码*/
		width: 195px;
	}
 
	#informTable tr td{
		width: 195px;
		height:15px;
		font-size: 16px;
		font-family: Georgia;
		color: #555555;
		word-wrap:break-word;   /*自动换行*/
		padding: 0 0 0 0;
	}
	#informTable tr td:hover{
		background-color: #D9D9D9; 
	}
	#inform hr{
		border:1;
		width: 195px;
		margin-bottom: 0px;
	}
	
	.table{ background:#FFF;}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {border-top:0px solid #ddd;}

	</style>
	<script type="text/javascript">
      	//显示悬浮层
		function showInform(){
			document.getElementById("inform").style.display='block';
		}
	  	//隐藏悬浮层
		function hiddenInform(event){
			var informDiv = document.getElementById('inform');
			var x=event.clientX;
			var y=event.clientY;
			var divx1 = informDiv.offsetLeft;
			var divy1 = informDiv.offsetTop;
			var divx2 = informDiv.offsetLeft + informDiv.offsetWidth;
			var divy2 = informDiv.offsetTop + informDiv.offsetHeight;
			if( x < divx1 || x > divx2 || y < divy1 || y > divy2){
				document.getElementById('inform').style.display='none';
			}
		}
	</script>
	</head>
	<body>
	<div class="navbar" role="navigation">
        <!-- 点击收缩左边的菜单栏  + 缩小后左边菜单栏的显示 -->
        <ul class="nav navbar-nav navbar-actions navbar-left">
            <li class="visible-md visible-lg"><a href="#"><i class="icon-th-large"></i></a></li>
            <li class="visible-xs visible-sm"><a href="#"><i class="icon-align-justify"></i></a></li>
        </ul>
      
        <span class="teachCenterTitle">智能语音应答系统</span>
        <!-- Navbar Left -->    
        <!-- Navbar Right -->
        <div class="navbar-right">
            <!-- Notifications -->
            <ul class="notifications" avalonctrl="subNotificationsController">
                <li class="hidden-sm hidden-xs">
                    <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                        <i class="icon-envelope"></i>
                        <!--ms-if-->
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header" style="text-align: center;">
                        <strong>未读消息列表</strong>
                        </li>    
                        <li class="dropdown-menu-footer text-center">
							<!--<a href="../teach/notifications.html">更多消息</a>-->
							<a>更多消息</a>
                        </li>
                    </ul>    
                </li>
                <li>
                    <a href="/mains/quit/" class="dropdown-toggle notification-icon" data-toggle="modal">
                        <i class="icon-remove"></i>
                    </a>
                </li>
            </ul>    
            <!-- End Notifications -->
        </div>
        <!-- End Navbar Right -->
    </div>
	
	<div class="container-fluid content">
    	<div class="row">        	
        	<div class="sidebar">
				<div class="sidebar-collapse">
					<div class="sidebar-header ">
						<a href="#"><img src="{% static 'image/logo.png' %}" width="7" height="50" alt=""></a>
					</div>

					<!-- Sidebar Menu-->
					<div class="sidebar-menu" style="height: 384px;">
						<nav id="menu" class="nav-main" role="navigation">
							<ul class="nav nav-sidebar">
								<div class="panel-body text-center">
									<div class="bk-avatar">
										<a href="/mains/user/"><img class="img-circle bk-img-60" alt="" src="{{img}}" id="imageMain"></a>
										<!--ms-if-->
									</div>
									<div class="bk-padding-top-10">
										<i class="icon-circle text-success"></i>
										<small>{{name}}</small>
										<!--ms-if-->
									</div>
								</div>
								<li class="menuItem">
									<a href="/mains">
										<i class="icon-home" aria-hidden="true"></i><span>主界面</span>
									</a>
								</li>
								
								<li class="menuItem nav-parent">
									<a>
										<i class="icon-phone" aria-hidden="true"></i><span>我的呼叫</span>
									</a>
									<ul class="nav nav-children">
										<li><a href="/calls/"><span class="text">号码管理</span></a></li>
										<li><a href="/calls/stateManager/"><span class="text">通话记录</span></a></li>
										<li><a href="#"><span class="text">模板管理</span></a></li>
									</ul>
								</li>
								<li class="menuItem nav-parent">
									<a>
										<i class="icon-user" aria-hidden="true"></i><span>我的套餐</span>
									</a>
									<ul class="nav nav-children">
										<li><a href="#"><span class="text">套餐管理</span></a></li>
										<li><a href="#"><span class="text">套餐购买</span></a></li>                                         
									</ul>
								</li>
								<li class="menuItem">
								<a href="#">
										<i class="icon-tag" aria-hidden="true"></i><span>统计分析</span>
								</a>						 																	
							</ul>
						</nav>
					</div><!-- End Sidebar Menu-->
				</div><!-- End sidebar-collapse-->

					<div class="sidebar-footer">
						<div class="copyright text-center">
						</div>
					</div>
			</div>   <!-- End Sidebar-->
			<!--此处放主面板内容 -->
			<script src="{%static 'js/jquery.min.js' %}"></script>
			<script src="{%static 'js/bootstrap.min.js' %}"></script>
			{% block content %}{% endblock %}
		</div><!--end row-->
	</div> <!--end content-->
	<div class="clearfix"></div><!--清除浮动-->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="{%static 'mains/js/kg.js' %}"></script>
	<script src="{% static 'js/bootbox.min.js' %}" type="text/javascript"></script>
	
</body>
</html>