{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!--中间部分-->
<div class="main " style="min-height: 584px;">
	<!-- 当前地址导航 -->
	<div class="page-header row">
		<div class="pull-left">
			<ol class="breadcrumb visible-sm visible-md visible-lg">
				<li><a href="#">位置  :</a></li>
				<li><a href="/mains/"><i class=" icon-home"></i>首页</a></li>
			</ol>
		</div>
		<div class="pull-right">
			<ol class="breadcrumb visible-sm visible-md visible-lg">
				<li><a href="/calls/"><i class=" icon-phone"></i>号码管理</a></li>
				<li><a href="#"><i class="icon-gear"></i>模板管理</a></li>
				<li><a href="#"><i class="icon-user"></i>套餐管理</a></li>
				<li><a href="#"><i class="icon-legal"></i>套餐购买</a></li>
			</ol>
		</div>
	</div>
	<!--此处放主面板内容 -->
	<div class="row form">
		<div class="col-lg-12">

			<div id="post1" class="col-md-3 ">
				<br/>
				<p>通知公告</p>
				<div class="post">
					 <p>该项目基于FreeSWITCH平台，我们开发自己的话数引擎以及web客户端，使企业用户可以通过网页的形式上传给定电话单通过该系统定时拨打电话单中的用户，询问用户指定的问题。</p>
				</div>

			</div>

			<div id="information1" class=" col-md-offset-1 col-md-3 ">
				<p>个人消息提示</p>
				<div class="information">
					<p>消息一<span name="date" style="text-align:right;"></span></p>
					<p>消息二<span name="date"></span></p>
					<p>消息三<span name="date"></span></p>
					<p>消息四<span name="date"></span></p>
				</div>
			</div>


			<div id="calendar" class="col-md-4" style="background:none;">
				<script src="{%static 'js/calendar.jquery.min.js' %}"></script>
				<script src="{% static 'js/jquery-ui-datepicker.min.js' %}"></script>
				<script>
					$('#calendar').datepicker({
						inline: true,
						firstDay: 1,
						showOtherMonths: true,
						dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
					});
				</script>
			</div>
		</div>
		<div id="caption" class="col-lg-12">
			<p>今日统计</p>
		</div>
		<div id="data" class="col-lg-12">

			<div class="col-md-2 col-xs-2 data_display">
				<table class="table" id='tvb'>
					<tr>
						<td style="font-size:50%">成功呼叫</td>
						<td rowspan="2"><span class="icon-user" style="background:#FA8562;"></span></td>
					</tr>
					<tr>
						<td style="font-size:120%">{{callSuccess}}</td>
					</tr>
				</table>
			</div>

			<div class=" col-md-offset-1 col-xs-offset-1 col-md-2 col-xs-2 data_display">
				<table class="table">
					<tr>
						<td style="font-size:50%">失败呼叫</td>
						<td rowspan="2" ><span class="icon-th-list" style="background:#ADC885;"></span></td>
					</tr>
					<tr>
						<td style="font-size:120%">{{callFailure}}</td>
					</tr>
				</table>

			</div>

			<div class=" col-md-offset-1 col-xs-offset-1 col-md-2 col-xs-2 data_display">
				<!--<a href="message.html">-->
				<table class="table" width="100%">
					<tr style=" border-color:#FFF">
						<td style="font-size:50%">已呼叫时长(分钟)</td>
						<td rowspan="2"><span class="icon-list-alt" style="background:#63ADDC;"></span></td>
					</tr>
					<tr>
						<td style="font-size:120%">{{callLengths}}</td>
					</tr>
				</table>
			</div>

			<div class=" col-md-offset-1 col-xs-offset-1 col-md-2 col-xs-2 data_display">
				<!--<a href="message.html">-->
				<table class="table">
					<tr>
						<td style="font-size:50%">剩余金额</td>
						<td rowspan="2"><span class="icon-wrench" style="background:#CC82B5;"></span></td>
					</tr>
					<tr>
						<td style="font-size:120%">0</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div><!--end main-->
{% endblock %}