{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="main " style="min-height: 584px;">
	<!-- 当前地址导航 -->
	<div class="page-header row">
		<div class="pull-left">
			<ol class="breadcrumb visible-sm visible-md visible-lg">
				<li><a href="#">位置  :</a></li>
				<li><a href="/mains/user/"><i class="icon-adjust"></i>修改资料</a></li>
			</ol>
		</div>
		<div class="pull-right">
			<ol class="breadcrumb visible-sm visible-md visible-lg">
				<li><a href="/calls/"><i class=" icon-phone"></i>号码管理</a></li>
				<li><a href="#"><i class="icon-gear"></i>模板管理</a></li>
				<li><a href="#"><i class="icon-user"></i>套餐管理</a></li>
				<li><a href="#"><i class="icon-legal"></i>套餐购买</a></li>
			</ol>
		</div>
	</div>
    <!-- 主面板内容 -->
    <div class="row form">
            <div class="col-md-6  col-md-offset-2 form-group xgarea form-horizontal">
                <div class="form-group jianju text-left">
                    <label for="inputEmail3" class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="name" id="userName">
                    </div>
                </div>

                <br>
                <div class="form-group jianju">
                    <label for="inputEmail3" class="col-sm-2 control-label">联系电话</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="telephone" id="TelePhone">
                    </div>
                </div>

                <br>
                <div class="form-group jianju">
                    <label for="inputEmail3" class="col-sm-2 control-label">密码修改</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="possword" name="possword">
                    </div>
                </div>

                <br>
                <div class="form-group jianju">
                    <label for="inputEmail3" class="col-sm-2 control-label">确认密码</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="repossword">
                    </div>
                </div>

                <div class="form-group jianju">
                    <div class="col-sm-offset-4 col-sm-6" id="lastxg">
                        <button type="button" class="btn btn-success" id="submit">确认修改</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" id="reset">重置</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-sm-10">
                        <div id="preview">
                            <img src="" style="border:1px solid green" id="imghead" class="img-circle bk-img-60" width=120 height=120>
                        </div>
                        <div style="margin:20px 20px;">
                            <label class="btn btn-primary" for="file">修改头像</label>
                            <input type="file" name="img" onchange="previewImage(this)" id="file" style="position:absolute;clip:rect(0 0 0 0);">
                        </div>
                    </div>
                </div>
            </div>
    </div> <!--end form-->
</div> <!--end main-->

<!--是否上传照片的提示框-->
 <div class="modal fade" id="uploadImg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- data-backdrop="static" 禁止点击弹框后面内容 -->
    <form class="form-horizontal" role="form">
        <div class="modal-dialog modal-sm ">
            <!-- modal-sm 小的  modal-lg 大的 -->
            <div class="modal-content" style="border:#3071a9 8px solid;overflow-x:hidden;">
                <div class="modal-header" style="background:#3071a9; color:#FFF">
                    <div class="glyphicon glyphicon-remove closeModal"
                        data-dismiss="modal"></div>
                    <h6 class="modal-title" id="myModalLabel"></h6>
                </div>
                <div class="modal-body" style="text-align: left;">
                    <h5>您确定要上传此头像吗？</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="upCancer">取消</button>
                    <button type="button" class="btn btn-primary" id="upCommit">确认</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </form>
</div>

<script type="text/javascript" src="{%static 'mains/js/user.js' %}"></script>
<!--显示输入框的初始化信息-->
<script>
    $.ajax({
        type : 'POST',
        dataType : 'json',
        url : '/mains/getInfo/',
        async : false,
        cache : false,
        error : function(request) {
            alert("error");
        },
        success:function(data) {
            $("#userName").val(data.name);
            $("#TelePhone").val(data.phone);
            $("#imghead").attr('src',data.img);
        }
    });
</script>
{% endblock %}